<img src="/images/ODATSA_logo.png" alt="ODATSA Logo" />

<h1>Open Design</h1>

<h1>Appropriate Technology</h1>

<h1>Sustainable Agriculture</h1>

<a href="https://odatsa.gitlab.io/Peru/">Peru Project</a>